/* @media(max-width:576px) {
    body {
        background: black;
    }

    h1{
        font-family: 'Courier New', Courier, monospace;
        color:aqua
    }

    h3{
        color: chocolate;
    }

    
}

@media(min-width:577px) {
    body {
        background:#749c2c;
    }

    h1{
        font-family: Arial, Helvetica, sans-serif;
        color:blue
    }

    h3{
        color:white;
    }
} */
/* p{
    background: #749c2c ;
    color: white;
    padding: 10px;
    margin:10px;
 }
 .grid {
    display:grid;
    grid-template-columns: 1fr;
 }

 @media(min-width:576px) {
  
.grid{ grid-template-columns: 1fr 1fr;

}
} 

@media(min-width:768px) {
   
.grid{ grid-template-columns: 1fr 1fr 1fr 1fr;

}
}  */
/* 
.contenedor-columnas {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
}

.columna-2 img {



    max-width: 100%;
    max-height: 100%;


}

/* img {

    display: block;
    background-color: white;
}  */


body {
    margin: 0px;
    padding: 0px;
}

nav#menu {
    background: rgb(61, 97, 113);
    color: white;


    /* CELULAR */
    @media(width<=576px) {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        & #titulo {
            display: flex;
            align-items: center;
        }

        & h1 {
            padding: 0px 10px;
            margin: 0px;
        }

        & #menu_escritorio {
            display: none;            
        }
    }

    @media(width >=577px) {
        width: max-content;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        /* border: 1px solid black; */
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-area: menu;
        height: 85vh;

        & #titulo {
            display: flex;
            align-items: center;
            margin: 0.8rem;
            margin-bottom: 2rem;

            & h1 {
                margin: 0px;
                padding: 0px 5px;
            }
        }

        & #menu_hamburguesa {
            display: none;
        }

        & #menu_escritorio {
            display: flex;
            flex-direction: column;
            width: -webkit-fill-available;

            & a {
                text-decoration: none;
                text-align: center;
                color: white;
                padding: 6px;


            }

            & a:hover {
                background-color: rgb(46, 130, 165);
            }
        }

    }

}



main {
    grid-area: seccion-principal;
    /* padding: 10px; */
    overflow-y: auto;
    max-height: 100vh;
}


.text-center {
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    border: none;
    box-shadow: none;
}

.d-flex {
    display: flex !;
}

.justify-space-between {
    justify-content: space-between;
}

.row {
    display: row;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.align-items-center{
    align-items: center;
}

section#navegacion{
    padding-top: 10px;
}

footer {
    grid-area: pie-de-pagina;
    /* display: flex;
    flex-direction: column; */
    background: rgb(46, 130, 165);
    color: white;
    padding: 10px;
    flex-direction: column;
    align-items: center;    

    & h3 {
        font-size: 20px;
    }

    & i {
        font-size: 20px;
        margin: 0px 5px;
    }

    @media(width>=577px) {
        gap: 10px;
        height: 15vh;
        /* max-height: min-content; */
        justify-content: center;
        
        

        & h3 {
            font-size: 1rem;
        }
    }
}

/* Grid Celular*/
div {
    display: grid;
    /* border: 1px solid black; */
    /* grid-template-rows: 1fr 10fr 1fr; */
    grid-template-areas:
        "menu"
        "seccion-principal"
        "pie-de-pagina";
}


@media(min-width:577px) {
    /* @media(width <=576pxpx) { */

    div {
        grid-template-areas:
            "menu seccion-principal"
            "menu seccion-principal"
            /* "menu pie-de-pagina" */
            /* "pie-de-pagina pie-de-pagina "; */
            "pie-de-pagina seccion-principal ";
        grid-template-columns: 1fr 10fr;
    }
}

h1 {
    color: white;
    margin-bottom: 0px;
    font-size: 20px;

}

#ordenar {
    background-color: #E2E2E2;
    display: flex;
    flex-direction: column;
    padding: 1.0rem 2rem;

    & p {
        margin: 0px;
    }

    & #sel_ordenar_precio {
        border-radius: 5px;
        padding: 3px;
    }
}

.text-center {
    text-align: center;
}

.lista-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    overflow-y: auto;
    height: 70vh;

    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */

}

.contenedor-producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 calc(20%);
    max-width: calc(20%);
    box-sizing: border-box;
    /* Mov.horizontal - Mov.vertical - nitidez - grosor*/
    box-shadow: 0px 0px 5px 2px lightblue;

    & .detalle-producto {

        display: flex;
        flex-direction: column;
        gap: 15px;

        & h3 {
            margin-top: 1rem;
        }

        & .my-button {
            background-color: rgb(61, 97, 113);
            color: white;
            border: none;
            cursor: pointer;
            height: 100%;
            transition: all 0.5s ease-in-out;
        }

        & .my-button:hover {
            background-color: rgb(1, 148, 188);
            border-radius: 25px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
        }

        & .my-button:active {
            background-color: rgb(61, 97, 113);

        }
    }

    @media(width <=992px) {
        flex: 1 1 calc(50% - 25px);
        max-width: calc(50% - 25px);
    }

    @media(width <=576px) {
        flex: 1 1 100%;
        max-width: 100%;
        min-height: 50vh;
    }

}